html {
    font-family: Monaco;
}

/** {
    outline: solid 1px red;
}*/

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    background-color: #11aaff;
    color: white;
}

body {
    color: white;
    overflow: clip;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0;
    background-color: #1b384a;
}

.left-nav {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.feed-area {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.twat-form {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.twat-textarea {
    color: white;
    border-bottom: 1px solid #335588;
    resize: none;
    outline: none;
    background-color: #114866;
    padding: 0.7em;
}

#twat-feed {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1%;

    border-width: 1px;
    border-style: solid;
    border-color: #335588;
}

.twat-card {
    display: flex;
    /*grid-template-columns: 1fr 5fr;*/

    color: white;
    display: block;
    overflow-wrap: wrap;
    min-height: 5em;
    outline: gray solid 1px;
    transition: 0.2s;
    padding: .5em;
}
.twat-card:hover {
    background-color: #225977;
}

.twat-author-picture {
    background-color: red;
    overflow: hidden;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}


.trending-nav {
    display: flex;
    flex-direction: column;
    margin: 5%;
}
